@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.homepage {
    background-color: #85dcba;
}
.heading_box {

    position: absolute;
    left: 211px;
    top: 143px;
    width: 0.75rem;
    margin: 0;
}

#catPic {
    width: 243px;
    height: 398px;
    position: absolute;
    left: 325px;
    top: 466px;
    z-index: 1000;
    background-color: transparent;
}

#dogPic {
    max-width: 659px;
    height: 544px;
    position: absolute;
    left: 549px;
    top: 284px;
    background-color: transparent;
}
.furEverHome_heading {

    color: white;
    font-size: 64px;
    font-family: 'Lato';
    font-weight: bolder;
    margin: 0;
    text-shadow: 5px 5px #8e9294 ;
    letter-spacing: 5px;
}

button {
    background-color: #41B3A3;
    border: none;
    border-radius: 50%;
    width: 105px;
    height: 106px;
    z-index: 999;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bolder;
    color: whitesmoke;
    line-height: 45px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgb(110, 207, 207);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 150ms cubic-bezier(0.19, 1, 0.22, 1);

    button:hover {
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(124, 236, 225, 0.763), 0 0 20px rgba(63, 178, 198, 0.468);
        outline-color: rgba(124, 198, 205, 0.745);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #8e9294; 
    }
    button:active {
        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    }
}

#aboutUs_btn {
    position: relative;
    left: 825px;
    top: 372px;
}

#faq_btn {
    position: absolute;
    left: 929px;
    top: 471px;
}

#adopt_btn {
    position: absolute;
    left: 1000px;
    top: 589px;
}

.circle1 {
    width: 411.36px;
    height: 411px;
    left: 300px;
    top: 160px;
    border-radius: 50%;
    position: absolute;
    background-color: #C38D9E;
    box-shadow: inset 2px 5px 3px #aa7b8a;
}
.circle2 {
    width: 589.05px;
    height: 589px;
    left: 600px;
    top: 250px;
    border-radius: 50%;
    position: absolute;
    background-color: #E8A87C;
    box-shadow: inset 2px 5px 3px #c9906b;
}
.circleGroup1 {
    padding: 10px;
}



