* {
    background-color: #85dcba;
}

.grid {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.animalCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
