@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

body {
    margin: 100;
    padding: 0;
}

.navbar {
    height: 100px;
    position: relative;
}

.navBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1220px;
    margin: 0 auto;
}

.logo {
   position: relative;
   right: 650px;
}
.searchBarWrapper {
  position: absolute;
  left: 420px;
  top: 13px;
}

.iconMenu {
  position: absolute;
  right: 50px;
  top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  width: 340px;
}

.signInBtn {
  // position: absolute;
  width: 120px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  height: 40px;
  left: 85%;
  top: 10px;
  background: #41B3A3;
  border-radius: 24px;
  outline-color: white;
  cursor: pointer;
  transition: 1s;
}

.signInBtn:hover{
  transform: scale(1.1);
  letter-spacing: 2px;
  color: white;
}

.welcomeHeader {
  font-size: 20px;
  font-family: "Lato", sans-serif;
}
